@media (max-width: 401px) {
    .bg-img {
        /* background-size: contain;
        width: 100%; */
        height: 10rem;
    }
}

@media (max-width: 501px) {
    .hero {
        flex-direction: column;
        padding: 1em;
    }

    .dscrptn,
    .scroller {
        width: 100%;
    }

    h2 {
        font-size: 1.4rem;
    }

    .txt {
        font-size: large;
    }

    .bg-img {
        /* background-size: contain; */
        width: 100%;
    }
}

